<app-layout-principal>
  <div class="conteudo-principal">
    <form superior [formGroup]="buscarForm" class="form-buscar">
      <div class="cabecalho">
        <div class="divisor"></div>
        <!-- Input -->
        <div class="input">
          <app-input-primario
            formControlName="nome"
            inputName="nome"
            type="text"
            placeHolder="Nome do Usuario"
          >
            <i class="bi bi-search" (click)="pesquisar()"></i>
          </app-input-primario>
        </div>
        <div class="divisor"></div>
      </div>
      <hr />
    </form>

    <div class="botoes d-flex w-100">
      <div
        class="botao-cadastrar col-4 gap-3"
        [class.selecionado]="grupoSelecionado === Group.PATIENT"
        (click)="abrirModalComGrupo(Group.PATIENT)"
      >
        Adicionar Novo Paciente
        <i class="bi bi-plus-circle-fill button"></i>
      </div>

      <div
        class="botao-cadastrar col-4 gap-3"
        [class.selecionado]="grupoSelecionado === Group.Doctor"
        (click)="abrirModalComGrupo(Group.Doctor)"
      >
        Adicionar Novo Médico
        <i class="bi bi-plus-circle-fill button"></i>
      </div>
    </div>

    <div class="inferior" inferior>
      <app-table-pagination [dados]="usuarios"> </app-table-pagination>
    </div>

    <div class="layout-modal">
      <!-- Conteúdo Modal -->
      <main class="conteudo-modal">
        <app-modal
          *ngIf="modalAberto"
          class="modal-cadastro"
          (fecharModal)="fecharModal()"
          (submit)="cadastrar()"
          [tituloModal]="
            'Cadastro - ' +
            (grupoSelecionado === Group.PATIENT ? 'Paciente' : 'Médico')
          "
          textoBotao="Cadastrar"
        >
          <form
            [formGroup]="formCadastroUsuario"
            class="form-cadastro-user p-3"
          >
            <app-input-primario
              class="input-padrao"
              [addLabel]="true"
              label="Nome:"
              formControlName="name"
              inputName="name"
            ></app-input-primario>

            <app-input-primario
              class="input-padrao"
              [addLabel]="true"
              label="Email:"
              formControlName="email"
              inputName="email"
            ></app-input-primario>

            <app-input-primario
              class="input-padrao"
              [addLabel]="true"
              label="Data de Nascimento:"
              formControlName="birth"
              inputName="birth"
              type="date"
            ></app-input-primario>

            <app-input-primario
              *ngIf="grupoSelecionado === Group.PATIENT"
              class="input-padrao"
              [addLabel]="true"
              label="CPF:"
              formControlName="cpf"
              inputName="cpf"
            ></app-input-primario>

            <app-input-primario
              *ngIf="grupoSelecionado === Group.Doctor"
              class="input-padrao"
              [addLabel]="true"
              label="CRM:"
              formControlName="crm"
              inputName="crm"
            ></app-input-primario>

            <app-input-primario
              class="input-padrao"
              [addLabel]="true"
              label="Senha:"
              type="password"
              formControlName="password"
              inputName="password"
            ></app-input-primario>

            <app-input-primario
              class="input-padrao"
              [addLabel]="true"
              label="Confirmar Senha:"
              type="password"
              formControlName="confirmarSenha"
              inputName="confirmarSenha"
            ></app-input-primario>
          </form>
        </app-modal>
      </main>
    </div>
  </div>
</app-layout-principal>
