<div class="container-cadastro">
  <!-- Menu lateral -->
  <aside class="menu-lateral">
    <button (click)="abrirModalComGrupo(Group.PATIENT)">Cadastrar Paciente</button>
    <button (click)="abrirModalComGrupo(Group.Doctor)">Cadastrar Médico</button>
  </aside>

  <!-- Modal -->
  <app-modal
    *ngIf="modalAberto"
    (fecharModal)="fecharModal()"
    (submit)="cadastrar()"
    [tituloModal]="'Cadastro - ' + (grupoSelecionado === Group.PATIENT ? 'Paciente' : 'Médico')"
    textoBotao="Cadastrar"
  >
    <form [formGroup]="formCadastroUsuario" class="form-cadastro p-3">
      <app-input-primario
        class="input-padrao"
        [addLabel]="true"
        label="Nome:"
        formControlName="nome"
      ></app-input-primario>

      <app-input-primario
        class="input-padrao"
        [addLabel]="true"
        label="Email:"
        formControlName="email"
      ></app-input-primario>

      <app-input-primario
        *ngIf="grupoSelecionado === Group.PATIENT"
        class="input-padrao"
        [addLabel]="true"
        label="CPF:"
        formControlName="cpf"
      ></app-input-primario>

      <app-input-primario
        *ngIf="grupoSelecionado === Group.Doctor"
        class="input-padrao"
        [addLabel]="true"
        label="CRM:"
        formControlName="crm"
      ></app-input-primario>

      <app-input-primario
        class="input-padrao"
        [addLabel]="true"
        label="Senha:"
        type="password"
        formControlName="senha"
      ></app-input-primario>

      <app-input-primario
        class="input-padrao"
        [addLabel]="true"
        label="Confirmar Senha:"
        type="password"
        formControlName="confirmarSenha"
      ></app-input-primario>
    </form>
  </app-modal>
</div>
