<app-layout-principal>
  <div class="conteudo-principal">
    <div class="superior">
      <div class="cabecalho-sem-pesquisa">
        <h2>
          {{ isMedico ? "Minhas Consultas Agendadas" : "Consultas Agendadas" }}
        </h2>
      </div>
      <div class="botoes d-flex w-100">
        <button
          class="botao-cadastrar col-4 gap-3"
          (click)="abrirModalAgendamento()"
          [disabled]="!authService.isAuthenticated() || isMedico"
        >
          Nova consulta
          <i class="bi bi-plus-circle-fill button"></i>
        </button>
      </div>
    </div>
    <div class="inferior" inferior>
      <app-table-pagination [dados]="consultas"> </app-table-pagination>
    </div>
  </div>

  <!-- Modal de agendamento/reagendamento -->
  <app-modal
    *ngIf="modalAberto"
    class="modal-cadastro"
    (fecharModal)="fecharModal()"
    (submit)="confirmarAcao()"
    [tituloModal]="isCadastro ? 'Agendar Consulta' : 'Reagendar Consulta'"
    textoBotao="Confirmar"
  >
    <form [formGroup]="formConsulta" class="form-cadastro">
      <app-select
        *ngIf="pacientes"
        class="input-padrao"
        label="Paciente:"
        selectName="patient"
        [options]="pacientes"
        (valueChange)="formConsulta.get('patientId')?.setValue($event)"
      >
      </app-select>

      <app-select
        *ngIf="doutores"
        class="input-padrao"
        label="Médico:"
        selectName="doctor"
        [options]="doutores"
        (valueChange)="formConsulta.get('doctorId')?.setValue($event)"
      >
      </app-select>

      <app-input-primario
        class="input-padrao"
        [addLabel]="true"
        label="Data:"
        type="date"
        formControlName="date"
        [min]="today"
      >
      </app-input-primario>

      <app-input-primario
        class="input-padrao"
        [addLabel]="true"
        label="Hora:"
        type="time"
        formControlName="time"
      >
      </app-input-primario>
    </form>
  </app-modal>
</app-layout-principal>
